<h1>Search Results</h1>
 
<% if @produtos %>
  <ul class="search_results">
    <% @produtos.each do |produto| %>
       
      <li>
        <%=produto.nome%>
    </li>
  <% end %>
</ul>
<% else %>
  <p>Your search did not match any documents.</p>
<% end %>